<!--本文件是文章的尾部-->
<div id="article-footer">

      <!--作者＆时间-->
      <span>
        Write by <a href="{{ site.url }}about.html">{{ site.author }}</a><br>
      </span>

      <span>
        <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d" }}</time><br>
      </span>

      <!--分类＆标签-->
      {% if page.categories %}
      <span>
        Class:
        {% for cat in page.categories %}
        &nbsp;<a href="{{ site.url }}class.html#{{ cat }}" title="{{ cat }}">{{ cat }}</a><br>
        {% endfor %}
      </span>
      {% endif %}

      {% if page.tags %}
      <span>
        Tags:
        {% for tag in page.tags %}
        &nbsp;<a href="{{ site.url }}tags.html#{{ tag }}" title="{{ tag }}">{{ tag }}</a><br>
        {% endfor %}
      </span>
      {% endif %}

      <!--版权声明-->
      <span>
        Published under <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">(CC) BY-NC-SA 3.0</a><br>
      </span>

</div>

    <hr>

<div id="article-nav">
    <!--前一篇＆后一篇-->
    <span>
        <a {% if page.previous %} href="{{ site.url }}{{ page.previous.url }}"{% endif %} {% unless page.previous %} {% endunless %} >< 前一篇</a>&nbsp;&nbsp;
         <a href="{{ site.url }}#">目录</a>
         &nbsp;&nbsp;
        <a {% if page.next %} href="{{ site.url }}{{ page.next.url }}"{% endif %} {% unless page.next %} {% endunless %} >下一篇 ></a>
    </span>
</div>
