<!DOCTYPE html>
<html>
<head>
{% include head.html %}
</head>
<body>
<!--顶部-->
<div id="frame-top">
    <div id="header">
        <div id="maintitle">{{ page.title }}</div>
        <div id="nav">
        {% include nav.html %}
        </div>
    </div>
</div><!--frame-top-end-->
<!--顶部结束-->

<!--主要部分，即居中显示的部分-->
<div id="frame-main">

    <!--中部开始-->
    {{ content }}
    <!--中部结束-->

    <!--尾部-->
    <div id="footer">
    {% include copyright.html %}
    </div>
    <!--尾部结束-->
    {% include up_to_top_button.html %}
</div><!--main-frame-end-->
<!--居中显示部分的结束-->



</body>
</html>







